In [1]:
import pandas as pd
import numpy as np

In [2]:
data_for_confusion2 = pd.read_csv("/Users/cousins/data_for_confusion2.csv")

In [3]:
data_for_confusion2.head()

   t_test_signif_diff  anogva_above_0.54  adj_from_glasso_anogva
0                   0                  0                0.203617
1                   0                  0                0.019449
2                   0                  0                0.013699
3                   0                  0                0.014330
4                   1                  0                0.012150

In [8]:
pd.qcut(data_for_confusion2['adj_from_glasso_anogva'],5).value_counts()

(0.0359, 0.84]        920
(0.0163, 0.0359]      920
(0.0107, 0.0163]      920
(0.00714, 0.0107]     920
(0.00017, 0.00714]    920
Name: adj_from_glasso_anogva, dtype: int64

In [16]:
pd.cut(data_for_confusion2['adj_from_glasso_anogva'],5).value_counts()

(0.000334, 0.169]    4208
(0.337, 0.505]        167
(0.505, 0.672]        125
(0.672, 0.84]          74
(0.169, 0.337]         26
Name: adj_from_glasso_anogva, dtype: int64

In [13]:
data_for_confusion2['bin_label'] = pd.cut(data_for_confusion2['adj_from_glasso_anogva'],5)

In [14]:
data_for_confusion2.head()

,t_test_signif_diff,anogva_above_0.54,adj_from_glasso_anogva,bin_label
0,0,0,0.203617,"(0.169, 0.337]"
1,0,0,0.019449,"(0.000334, 0.169]"
2,0,0,0.013699,"(0.000334, 0.169]"
3,0,0,0.014330,"(0.000334, 0.169]"
4,1,0,0.012150,"(0.000334, 0.169]"

In [15]:
data_for_confusion2.groupby(['bin_label']).sum()

,t_test_signif_diff,anogva_above_0.54,adj_from_glasso_anogva
bin_label,,,
"(0.000334, 0.169]",856,0,81.601695
"(0.169, 0.337]",3,0,5.343452
"(0.337, 0.505]",16,0,73.081289
"(0.505, 0.672]",3,91,72.491184
"(0.672, 0.84]",7,74,55.121378